<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Résultat de la partie :</h1>
	<div data-th-if="${partie.resultat == 0}">
		<h1 >Egalité !</h1>
		<img  src="images/${partie.choixUtilisateur}.png" alt="" />
	</div>
	<div data-th-if="${partie.resultat == 1}" >
	<h1 >Gagné !</h1>
	<img  src="images/${partie.choixUtilisateur}.png" alt="" />
	
	</div>
	<div data-th-if="${partie.resultat == 2}">
	<h1 >Perdu !</h1>
	<img  src=@{"images/"+ ${partie.choixUtilisateur} + ".png"} alt="" /> 
	</div>

	<a href="/jouer">Rejouer</a>

</body>
</html>